@page
@model Identity.Auth.Web.Pages.Identity.ManageModel
@{
    ViewBag.Workflow = "Overview";
}
<table class="table table-sm table-striped table-bordered">
    <tbody>
       Manage your profile here
    </tbody>
</table>
